body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    background-image: url('backgroundCake.png'); /* Path to your image */
}

.recipe-slider {
    position: relative;
    width: 1800px;
    height: 1000px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f7f1ee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.recipe-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.recipe-box {
    min-width: 100%; /* Ensures each box takes the full width of the container */
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #934746;
    justify-content: center; /* Center content horizontally within each box */
    align-items: center; /* Center content vertically within each box */
    flex-direction: column;
    box-sizing: border-box; /* Ensures padding does not affect width calculations */
}

.recipe-image {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 100px; /* Adds space to the right of each image */
    margin-left: 100px;
}

.arrow {
    font-size: 100px; /* Adjust size of the arrow */
    color: #f59d77; /* Adjust arrow color */
    margin: 0 10px; /* Add spacing around the arrow */
    position: relative;
    margin-right: 140;
    bottom: 35%;
    
}

.nav-button {
    position: absolute;
    bottom: 10px; /* Position at the bottom of the container */
    background-color: #f59d77;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    transition: background-color 0.3s ease;
}


.nav-button:hover {
    background-color: #d87b5a;
}

.nav-button.prev {
    left: 10px; /* Position at the bottom-left corner */
}

.nav-button.next {
    right: 10px; /* Position at the bottom-right corner */
}